.button {
  font-family: var(--font-sans);
  font-size: 1rem;
  padding: 12px 16px;
  border: 0;
  border-radius: 6px;
}

.button:focus {
  outline: solid var(--color-primary);
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button--default {
  background: var(--color-primary);
  color: var(--color-text-inverse);
}

.button--default:hover:not(:disabled) {
  background: var(--color-primary-dark);
}

.button--minimal {
  color: var(--color-primary);
  background: transparent;
}

.button--minimal:hover:not(:disabled) {
  background: var(--color-primary-light);
}
