html,
body,
#root {
  margin: 0;
  height: 100%;
}

.containers {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchors {
  display: flex;
  gap: 30px;
}

.reset {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
