main {
  display: grid;
  gap: 24px;
}

header {
  display: grid;
  gap: 8px;
}

.form {
  display: grid;
  max-width: 600px;
  justify-items: start;
  gap: 16px;
}

.form-row {
  position: relative;
  display: grid;
  justify-self: stretch;
  gap: 4px;
}

label {
  font-weight: 500;
}

input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  outline-color: #4263eb;

  &.has-error {
    border-color: #f03e3e;
    outline-color: #f03e3e;
  }
}

textarea {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  resize: vertical;
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: #4263eb;
  border: 0;
  border-radius: 8px;
  padding: 8px 12px;
  outline-color: #364fc7;
  transition: background 200ms ease;

  &:hover {
    background: #364fc7;
  }
}
