.tour-wrapper {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.placeholder {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #a3a3a3;
}
