.chart {
  flex-basis: 50%;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.chart:hover {
  border-color: rgba(34, 139, 230, 0.2);
}

.chartIsSelected,
.chartIsSelected:hover {
  border-color: #18a0fb;
}
